@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.mainIntro {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  font-size: 2rem;

  h1 {
    // color: var(--highlight-color);
    font-size: calc(min(10rem, 10vw));
    line-height: 1;
    font-family: 'Bungee Outline', Helvetica, sans-serif;
    margin: 0;
    // color: #ff5a5c;
    // background: linear-gradient(to bottom, #ff9f49 10%, #ff5a5c 90%);
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // color: transparent;
  }
}

.postTitle {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--highlight-color);
  padding: 0.5rem 1rem;
  margin: 0;
  margin-bottom: 2rem;
  margin-left: -7vw;
  line-height: 1;
  font-size: calc(min(5rem, 5vw));
  max-width: calc(100% + 10vw);
  border-radius: 5px;
  transition: left 1s ease-out;

  p {
    display: none;
  }

  .small {
    font-size: 2rem;
    margin-top: 0.5rem;
    line-height: 1.2;
  }
}
.focused .postTitle {
  left: -10vw;
}

.caption {
  z-index: 3;
  max-width: 300px;
  margin: 0 auto;
  font-size: 0.75rem;
  opacity: 0.5;
  line-height: 1.4;
  text-align: center;
  margin-top: 1rem;
}

.padImg,
.padImage {
  img {
    padding: 0.5rem;
  }
}

.roundImage {
  &:before,
  &:after {
    border-radius: 50% !important;
  }
  img,
  picture {
    &,
    &:before,
    &:after {
      border-radius: 50% !important;
      object-fit: cover;
    }
  }
}

.grid2,
.grid3 {
  max-width: 40vw;

  picture,
  img {
    max-width: 100% !important;
  }
}

.aside {
  opacity: 0.8;
  padding: 0 1rem;
  border-left: 4px solid var(--text);
  margin: 4rem auto;
  position: relative;
}
.asideTitle {
  display: block;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
}
