@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic:wght@400;700&display=swap');

:root {
  --font-stack: 'Asap', 'Helvetica', sans-serif;

  --nav-width: 80px;

  --text: #222;
  --bg: #f8f8f8;
}
